.weatherInfo {
  display: flex;
  margin-top: 4rem;
  height: calc(100% - 12rem - 2px);
}

.left {
  flex: 1;
  margin-right: 6rem;
}

.right {
  flex: 3;
}

@media screen and (max-width: 1180px) {
  .weatherInfo {
    flex-direction: column;
  }
  .left {
    margin: 0 1.5rem;
  }
}


@media screen and (max-width: 480px) {
  .weatherInfo {
    margin-top: 2rem;
  }
}